<!DOCTYPE html>
html(lang="en")
    include templates/head
body
    main
        include templates/title
        include templates/vacancys
        include templates/offices
        include templates/about
        include templates/contentment
        include templates/popup
    include templates/scripts_include
    
        