.contentment{
    padding: 13px 10px 50px;
    text-align: center;

    &__title{
        margin-bottom: 20px;
    }

    &__current{
        font-size: (90em / 16);
        font-weight: bold;
        display: block;
        margin-top: 47px;
    }
    &__canvas-wrap{
        width: 40%;
        min-width: 500px;
        margin: auto;
    }
    &__canvas{
        display: block;
        margin: auto;
    }
}
@media only screen and (max-width: 600px){
    .contentment{
        &__canvas-wrap{
            width: 100%;
            min-width: 100%;
        }
        &__current{
            font-size: 4em;
        }
    }
}