.popup{
    position: relative;
    z-index: 1000;
    display: none;

    &__cover{
        position: fixed;
        top: 0;
        left: 0px;
        display: flex;
        padding: 50px 50px 10px;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.6);
        z-index: 1000;
        overflow-y: scroll;
    }
    &__body{
        position: relative;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;

        h2{
            font-size: (28em / 16);
        }
    }
    &__top{
        padding: 35px;
        display: flex;
        flex-wrap: wrap;
        background: white;
    }
    &__left{
        
        background: white;
        width: 55%;
        font-size: (18em / 16);
        

        h2{
            margin-top: 0px;
        }
        h3{
            margin-bottom: 5px;
            font-weight: normal;
        }
        ul{
            margin-top: 5px;
            padding-left: 20px;
        }
    }
    &__right{
        
        background: white;
        border-left: 3px solid black;
        padding-left: 30px;
        width: 45%;

        h2{
            margin: 0px;
        }
    }
    &__bottom{
        background: rgba(255,255,255,.5);
        width: 100%;
        display: flex;
        padding: 10px;
    }
    &__share{
        margin: auto;
        display: flex;
        align-items: center;

        &-text{
            margin-right: 10px;
            color: white;
            font-weight: bold;
        }
        &-list{
            display: flex;
            margin: 0;
            padding: 0;
            font-size: .8em;
        }
        &-item{
            list-style: none;
            margin-right: 15px;
        }
        &-link{
            font-size: (45em / 16);
            line-height: 1em;
            display: flex;
            text-decoration: none;
            border: 2px solid white;
            width: 40px;
            height: 40px;
            color: white;

            &:hover{
                color: #ddd;
                border-color: #ddd;
            }

            span{
                margin: auto;
                font-weight: bold;
            }
        }
    }
    input, textarea{
        font-size: (18em / 16);
        width: 100%;
        margin-top: 20px;
        background-color: #f4f4f4;
        border: none;
        padding: 13px;
        font-family: "Helvetica Neue Cyr", Arial;
    }
    textarea{
        resize: none;
    }
    button{
        background: white;
        border: 3px solid #80ba27;
        padding: 10px;
        font-size: (18em / 16);
        color: #80ba27;
        margin-top: 17px;

        &:hover{
            background-color: #80ba27;
            color: white;
            cursor: pointer;
        }
    }
    &__close{
        position: absolute;
        top: -40px;
        right: 15px;
        display: flex;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:after{
            margin-left: 10px;
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            background-image: url('http://www.fistashki.org/frontend/images/icon-close.png');
            background-size: cover;
        }
        &:hover{
            color: #ccc;
            text-decoration: underline;
        }
    }
}
@media only screen and (max-width: 700px){
    .popup{
        &__body{
            flex-direction: column;
        }
        &__left, &__right{
            width: 100%;
        }
        &__right{
            border: none;  
            padding: 0px;
        }
    }
}
@media only screen and (max-width: 500px){
    .popup{
    
        &__body{
            flex-direction: column;
        }
        &__cover{
            padding: 5px 5px;
        }
        &__left, &__right{
            width: 100%;
            padding: 10px 0;
        }
        &__right{
            border: none;  
            padding: 0px;
        }
        &__close{
            top: 10px;
            color: black;

            &:after{
                background-image: url('../pictures/icon-close-dark.png');
            }
        }
    }
}