section.about
    h2.title.about__title Хочешь узнать чуть подробнее о нас?
    span.about__sub-text.sub-text Тогда послушай небольшую видео-презентацию об агенстве, <br> в которой наш генеральный директор Александр Чулков <br> расскажет о том кто мы такие.
    .about__video-wrap
        iframe(width="560" height="390" src="https://www.youtube.com/embed/C7uO0AfhDQI" style="border: none;" allowfullscreen).about__video