section.contentment
    h2.contentment__title.title Индекс удовлетворенности сотрудников
    span.contentment__sub-text.sub-text Да, мы ежедневно выясняем настроение команды <br> и пытаемся решать проблемные моменты
    span.contentment__current январь / 89,5%
    .contentment__canvas-wrap
        canvas(data-info='{"Октябрь":"74.0","Ноябрь":"70.8","Декабрь":"95.2","Январь":"89.5"}')#contentmentCanvas.contentment__canvas