footer.footer
  .container
    .footer-logo
      a(href='/dt')
        img.footer-logo-image(src='http://www.fistashki.org/frontend/images/footer-logo.png', alt='')
    .footer-contact.phone
      | Телефон 
      .footer-contact-value +7 (495) 637-69-67
    .footer-contact.email
      | E-mail    
      .footer-contact-value
        a(href='mailto:em@fistashki.org') em@fistashki.org
    .footer-contact.address
      | Адрес    
      .footer-contact-value
        | Москва, 3-я ул. Ямского Поля, д. 2, корп. 7 (вход через корп. 13 БЦ «Ямское Поле»)
