.main-menu
  .main-menu-wrapper
    .main-menu-logo
      a.main-menu-logo-link(href='/')
        img.logo-fistashki(src='http://www.fistashki.org/frontend/images/logo-fistashki.png', alt='')
    .main-menu-content
      a.main-menu-item(href='#testimonials') Наши клиенты говорят:
      a.main-menu-item(href='#services') Сервисы
      a.main-menu-item(href='#ratings') Рейтинги
      a.main-menu-item(href='#clients') Наши клиенты
      a.main-menu-item(href='#leadform') Напишите нам
      a.main-menu-item(href='#contacts') Контакты
      a.main-menu-item(href='/dt') Digital Transformation
    a.main-menu-close(href='#')
      | Закрыть меню
.fixed-burger
  a.menu.open-main-menu(href='#')
    span.menu-text
      | Меню
    .navbar-toggle
      span.icon-bar
      span.icon-bar
      span.icon-bar