.popup
    .popup__cover
        .popup__body
            .popup__left
                h2  Lorem ipsum dolor sit amet
                h3  lkdfs kdsjf lkjdsf:
                ul
                    li Lorem kjdflkkl kdslfj lkjsdf 
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                h3  lkdfs kdsjf lkjdsf:
                ul
                    li Lorem kjdflkkl kdslfj lkjsdf 
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                h3  lkdfs kdsjf lkjdsf:
                ul
                    li Lorem kjdflkkl kdslfj lkjsdf 
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
                    li Lorem kjdflkkl kdslfj lkjsdf
            .popup__right
                h2 Тебе нравится вакансия и ты хочешь к нам?<br> Заполняй анкету и отправляй!
                .popup__form-wrap
                form
                    input(type="text" name='firstName' required placeholder="Фамилия")
                    input(type="text" name='secondName' placeholder="Имя")
                    input(type="text" name='firstName' required placeholder="Фамилия")
                    input(type="tel" name='tel' required placeholder="Телефон")
                    input(type="email" name='mail' required placeholder="e-mail")
                    textarea(name="about" rows="5" placeholder="Небольшой сопроводительный текст")
                    input(name="key" type="hidden")
                    button(type='submit') Отправить
            a(href="#").popup__close Закрыть
                    