section.title-block.element-with-video-bg.jquery-background-video-wrapper
    video(autoplay muted).title-block__background-video
        source(src="img/video.mp4" type="video/mp4" loop)
    .title-block__wrap
        h1.title-block__main-title Карьера у нас
        span.title-block__sub-text Привет! Мы молодые и активные профессионалы в своей обласи, <br> всегда рады видеть в своих рядах крутых специалистов!
