section.vacancys
    h2.title.vacancys__title Вакансии
    ul.vacancys__cat-titles-list
        -var catTitlesList = ['Fistashki Москва','Fistashki Минск','Удаленная работа'];
        -for(var cat of catTitlesList)
            li.vacancys__cat-titles-item
                a(href="#" class= cat=='Fistashki Москва'? 'vacancys__cat-titles-link_active':'').vacancys__cat-titles-link=cat
    ul.vacancys__cat-list
      -for(var i=0; i<3; i++)
            li(class= i==0? 'vacancys__cat-item_active':'').vacancys__cat-item
                ul.vacancys__list